.catalog-products__container {
  @include centerer;
}

.catalog-products__list {
  @include reset-list;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--column-count, 1), 1fr);

  @media #{$not-mobile} {
    --column-count: 2;
    gap: 60px;
  }

  @media #{$desktop-only} {
    --column-count: 4;
  }
}

.catalog-products__title {
  @include title;

  @media #{$not-mobile} {
    --size: 60px;
    margin-bottom: 90px;
  }
}

.catalog-products__special-offer {
  margin: 35px 0;
}
