.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$not-mobile} {
    justify-content: flex-end;
    gap: 27px;
  }
}

.copyright__link {
  @include link;
  text-transform: none;
  font-family: var(--main-family);
  font-size: 16px;
  line-height: 1.2;
}
