.copyright__link {
  @include link;
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: none;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.2;

  &:hover {
    .copyright__link-icon {
      color: $green;
    }
  }

  &:focus {
    .copyright__link-icon {
      color: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$not-mobile} {
    justify-content: flex-end;
    gap: 27px;
  }
}

.copyright__link-icon {
  color: #444444;
  margin-left: 20px;
  flex-shrink: 0;

  @media #{$not-mobile} {
    margin-left: 0;
  }
}
