.main-navigation {
  text-align: center;

  @media #{$mobile-only} {
    display: none;

    + .main-header__toggle-navigation::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #000000;
      box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
    }
  }

  &--opened {
    @media #{$mobile-only} {
      display: block;
      position: absolute;
      width: 100%;
      min-height: 65px;
      background-color: #ffffff;
      top: 65px;
      left: 0;
      z-index: 2;

      + .main-header__toggle-navigation {
        background-color: #ffffff;

        &::before,
        &::after {
          content: "";
          right: 0;
          top: 0;
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: #000000;
        }

        &::before {
          transform: rotate(45deg);
          box-shadow: none;
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      .main-navigation__list {
        &:first-child {
          border-top: solid 1px #e6e6e6;
        }
      }
    }
  }
}

.main-navigation__list {
  @include reset-list;
  margin: 0;

  @media #{$not-mobile} {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    background-color: transparent;
  }
}

.main-navigation__list--main {
  .main-navigation__link {
    @media #{$desktop-only} {
      color: #ffffff;
      background-color: transparent;

      &[aria-current="step"] {
        text-decoration-color: #ffffff;
      }
    }
  }
}

.main-navigation__link {
  @include link;
  @include shape;
  padding: 22px 0 23px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-bottom: solid 1px #e6e6e6;

  @media #{$not-mobile} {
    font-family: $accent-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    border: none;
  }

  &[aria-current="step"] {
    pointer-events: none;

    @media #{$not-mobile} {
      text-decoration: underline 2px $green;
      text-underline-offset: 10px;
    }
  }
}
