.main-header__container {
  --gap: 56px;
  padding: 10px 0 18px 0;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--column-count, 3), 1fr);
  justify-items: end;
  align-items: center;

  @media #{$not-mobile} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-header__logo {
  @include img;
  @include link;
  justify-self: flex-start;

  @media #{$mobile-only} {
    display: contents;
  }
}

.main-header__logo-image {
  @include img;
  justify-self: flex-start;
}

.main-header__logo-world {
  @include img;
  justify-self: center;
}
