.page-footer {
  position: sticky;
  top: 100vh;
  background-color: #f2f2f2;
}

.page-footer__container {
  @include centerer;
  padding: 40px 0;
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(var(--column-count, 1), 1fr);
  justify-content: center;

  @media #{$not-mobile} {
    --column-count: 3;
  }

  @media #{$desktop-only} {
    padding: 50px 0;
  }
}

.page-footer__social-list {
  @include reset-list;
  margin: 0;
  padding: 20px 0 16px 0;
  min-height: 62px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

  @media #{$mobile-only} {
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
  }

  @media #{$not-mobile} {
    padding-top: 23px;
  }
}

.page-footer__logo {
  @include link;
  align-self: center;

  &:focus {
    .page-footer__logo-image {
      color: #3e3e3e;
    }
  }

  @media #{$mobile-only} {
    justify-self: center;
  }

  @media #{$not-mobile} {
    text-align: start;
    padding-top: 7px;
  }
}

.page-footer__logo-image {
  color: #111111;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }

  @media #{$mobile-only} {
    width: 128px;
  }
}

.page-footer__social-link {
  color: #666666;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    color: $green;
  }
}

.page-footer__copyright {
  align-self: center;
}
