.page {
  @include text;
  width: 100%;
  height: 100%;
  counter-reset: list-item;

  @media #{$not-mobile} {
    --size: 16px;
  }
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  background-color: #ffffff;
  color: $black;
}

.page__centerer {
  margin-inline: 20px;

  @media #{$not-mobile} {
    margin-inline: 30px;
  }

  @media #{$desktop-only} {
    inline-size: 1220px;
    margin-inline: auto;
  }
}
