.product-card {
  padding: 19px 0 25px 0;
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(var(--column-count, 2), 1fr);

  @media #{$mobile-only} {
    position: relative;
    @include gray-stripes;
  }

  @media #{$not-mobile} {
    --column-count: 1;
    align-items: end;
    padding: 8px 37px 39px 39px;
    gap: 34px;
    position: relative;
    grid-template-rows: 200px auto;
    background: linear-gradient(#ffffff 81px, $gray 81px);
  }

  @media #{$desktop-only} {
    grid-template-rows: 210px auto;
  }
}

.product-card__title {
  @include title;
  margin: 0 0 18px 0;
  color: #222222;
  --size: 16px;
  --line: 1.25;
  text-transform: uppercase;
  max-width: 90px;

  @media #{$not-mobile} {
    --size: 20px;
    --line: 1.2;
    text-align: center;
    margin: auto;
    margin-bottom: 21px;
    max-width: 150px;
  }
}

.product-card__characteristic-wrapper {
  display: flex;
  justify-content: space-between;

  @media #{$not-mobile} {
    padding: 7px 0 9px 0;
    border-bottom: solid 1px #cdcdcd;
  }
}

.product-card__image {
  @include img;
}

.product-card__button {
  @include link;
  @include button;
  padding: 10px;
  --size: 16px;
  --line: 1.25;
  grid-column: 1/-1;
}

.product-card__link {
  @include link;
  justify-self: center;

  @media #{$mobile-only} {
    align-self: center;
  }
}

.product-card__characteristic {
  @media #{$mobile-only} {
    @include text;
    --size: 12px;
  }
}
