.program {
  font-family: $accent-font;
  text-transform: uppercase;
  color: $dark-gray;
}

.program__container {
  @include centerer;
  padding: 27px 0 32px 0;

  @media #{$not-mobile} {
    padding: 50px 0 72px 0;
  }
}

.program__title-main {
  @include title;
  text-transform: none;
  margin: 0 0 37px 0;

  @media #{$not-mobile} {
    margin-bottom: 54px;
    --size: 60px;
  }
}

.program__description {
  color: $black;
  margin: 0 0 39px 0;
  max-width: 226px;

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 1.5;
    max-width: 323px;
  }
}

.program__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 19px;

  @media #{$not-mobile} {
    gap: 65px;
  }

  @media #{$desktop-only} {
    gap: 67px 80px;
    flex-direction: row;
  }
}

.program__group {
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media #{$desktop-only} {
    width: 100%;

    &--questionnaire,
    &--radio {
      width: calc((100% - 80px) / 2);
      flex-grow: 1;
    }
  }
}

.program__group--questionnaire {
  padding-bottom: 5px;
}

.program__group--comment {
  padding: 0 0 4px 0;

  .program__title {
    margin-bottom: 38px;
  }
}

.program__list {
  @include reset-list;
  margin: 0;
}

.program__list-input {
  @include reset-list;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-end;
}

.program__item-input {
  width: 100%;
  display: flex;
  align-items: center;
}

.program__label-input {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 13px;
  cursor: pointer;

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 1.48;
  }
}

.program__input {
  @include input;
  @include input-shape;
  width: 100%;
}

.program__input--error {
  outline: solid 2px #ff8282;
}

.program__input-control {
  @include input;
  cursor: pointer;
  margin-right: 26px;
}

.program__remark {
  @include text;
  font-family: $main-font;
  text-transform: none;
  margin: 0;

  @media #{$mobile-only} {
    --line: 1.14;
  }

  @media #{$not-mobile} {
    --size: 16px;
    --line: 1;
  }
}

.program__title {
  @include title;
  @include green-stripes;
  position: relative;
  --size: 24px;
  --line: 1.08;
  text-transform: none;
  margin: 0;
  width: fit-content;

  @media #{$not-mobile} {
    --size: 36px;
    --line: 1;
    margin-bottom: 54px;
  }
}

.program__button {
  @include button;

  @media #{$mobile-only} {
    width: 100%;
  }

  @media #{$not-mobile} {
    --size: 20px;
    padding: 13px 45px;
  }

  @media #{$desktop-only} {
    width: 568px;
  }
}

.program__group--additionally {
  padding: 23px 0 15px 0;

  .program__title {
    margin-bottom: 34px;
  }

  @media #{$mobile-only} {
    position: relative;
    @include gray-stripes;
  }

  .program__list {
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(var(--column-count, 1), 1fr);

    @media #{$not-mobile} {
      --column-count: 2;
      gap: 25px;
    }

    @media #{$desktop-only} {
      --column-count: 4;
    }
  }

  .program__input-control {
    --color: #cdcdcd;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    appearance: none;
    border: solid 1px var(--color);
    transition-duration: 140ms;
    transition-timing-function: ease-in-out;
    flex-shrink: 0;

    &:checked::before {
      content: "";
      width: 18px;
      height: 14px;
      background-image: url("../img/stack.svg#mark");
    }

    &:hover {
      --color: #bababa;
    }
  }
}

.program__input-control:disabled {
  opacity: 0.3;
  cursor: default;

  ~ span {
    opacity: 0.3;
    cursor: default;
  }
}

.program__label {
  display: flex;
  align-items: center;
}

.program__item {
  display: flex;
  align-items: center;
}

.program__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;

  @media #{$mobile-only} {
    align-items: center;
  }

  @media #{$not-mobile} {
    flex-direction: row;
    gap: 64px;
  }

  @media #{$desktop-only} {
    gap: 84px;
  }
}

.program__group--contacts {
  @media #{$mobile-only} {
    position: relative;
    @include gray-stripes;
    padding: 26px 0 4px 0;

    .program__title {
      width:187px;
      margin-bottom: 35px;
    }
  }

  .program__list-input {
    @media #{$desktop-only} {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 78px;
    }
  }

  .program__item-input {
    position: relative;

    @media #{$desktop-only} {
      width: calc((100% - 78px) / 2);
      flex-grow: 1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      right: 16px;
      background-repeat: no-repeat;
      background-position: center;
      align-self: center;

      @media #{$not-mobile} {
        right: 19px;
      }
    }
  }

  .program__input {
    padding-right: 55px;
  }
}

.program__item-input--email {
  &::after {
    background-image: url("../img/stack.svg#email");
  }
}

.program__item-input--telephone {
  &::after {
    background-image: url("../img/stack.svg#phone");
  }
}

.program__textarea {
  @include input;
  @include input-shape;
  resize: none;
  padding: 9px 12px 9px 15px;
  height: 150px;
  border: solid 1px var(--color);
}

.program__group--radio {
  --color: #e7e7e7;
  padding: 28px 12px 12px 0;

  @media #{$mobile-only} {
    position: relative;
    @include gray-stripes;
  }

  @media #{$not-mobile} {
    border: solid 1px var(--color);
  }

  .program__list-input {
    align-items: flex-start;
    gap: 30px;
  }

  .program__input-control {
    @include input;
    --color: #cdcdcd;
    padding: 0;
    width: 18px;
    height: 18px;
    appearance: none;
    border-radius: 50%;
    border: solid 1px transparent;
    outline: solid 1px var(--color);
    outline-offset: 11px;
    transition-duration: 140ms;
    transition-timing-function: ease-in-out;
    flex-shrink: 0;

    @media #{$not-mobile} {
      padding: 0;
    }

    &:checked {
      background-color: $green;
    }

    &:focus-visible {
      outline: solid 2px #000000;
    }

    &:hover {
      --color: #bababa;
    }
  }
}
