@mixin reset-list {
  padding: 0;
  list-style: none;
}

@mixin img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@mixin button {
  cursor: pointer;
  border: none;
  padding: 14px;
  font-family: $accent-font;
  font-size: var(--size, inherit);
  line-height: var(--line, inherit);
  background-color: $green;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@mixin link {
  display: block;
  font-family: $accent-font;
  font-size: var(--size);
  line-height: var(--line);
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

@mixin title {
  --size: 36px;
  --line: 1;
  --weight: 400;
  font-family: $accent-font;
  font-size: var(--size);
  line-height: var(--line);
  color: $black;
  font-weight: var(--weight);
}

@mixin text {
  --size: 14px;
  --line: 1.3;
  --weight: 400;
  font-family: $main-font;
  font-size: var(--size);
  line-height: var(--line);
  color: $black;
  font-weight: var(--weight);
}

@mixin centerer {
  margin-inline: 20px;

  @media #{$not-mobile} {
    margin-inline: 30px;
  }

  @media #{$desktop-only} {
    inline-size: 1220px;
    margin-inline: auto;
  }
}

@mixin shape {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin input {
  --color: #e7e7e7;
  padding: 14px 20px 13px 20px;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $dark-gray;
  border: solid 1px var(--color);

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 20px;
  }
}

@mixin green-stripes {
  &::before {
    position: absolute;
    content: "";
    background-color: $green;
    width: 100vw;
    height: 2px;
    top: calc(var(--size) / 2 * var(--line) + 2px);
    right: 0;
    box-shadow: 100vw 0 $green;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 21px * 2);
    height: calc(var(--size) * var(--line));
    background-color: #ffffff;
    top: 0;
    left: -37px;
    z-index: -1;

    @media #{$not-mobile} {
      width: calc(100% + 36px * 2);
    }

    @media #{$desktop-only} {
      left: -40px;
    }
  }
}
